* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Section styles */
.section {
  background-color: #3c5845;
  height: 600px;
}
.bg-bluecolor{
    background-color: #f2f4f5;

}
/* //tonggle button */
.three svg {
  width: 48px;
  /* Adjust size as needed */
  height: 38px;
  /* Adjust size as needed */
  stroke: black;
  /* Icon color */
  border: 1px solid black;
  border-radius: 5px;

}

@media (min-width:800px) {
  .three svg {
    display: none;
  }
}

@media (max-width:430px) {
  .three svg {
    width: 45px;
  }
}

#hamburger-button {
  border: none;
  /* Remove default border */
  background: transparent;
  /* Remove default background */
  padding: 0;
  /* Remove default padding */
  display: flex;
  /* Ensure content is centered */
  align-items: center;
  /* Center content vertically */
  justify-content: center;
  /* Center content horizontally */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  /* Margin between lines */
}

.hamburger-icon::before {
  margin-top: 0;
}

.hamburger-icon::after {
  margin-bottom: 0;
}

#offcanvasstyle {
  background-color: #3c5845;
  color: #fff;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section {
    background-color: #3c5845;
    height: 480px;
  }

  .header-section {
    margin-top: 40px;
  }
}

/* Brand styles */
#Brand {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

/* Navbar custom styles */
.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: 600;
}

.navbar-custom .nav-link-custom {
  color: white;
  font-family: "Inter ", sans-serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.5;
  /* padding-right: 40px; */
}


/* Shopping cart icon */
#cart {
  color: white;
  opacity: 0.5;
  font-size: 25px;
  padding-top: 10px;
}

#cart:hover {
  opacity: 1;
}

@media screen and (max-width:430px) {
  #cart {
    padding-top: 5px;
    font-size: 28px;
  }

}

/* Navbar hover styles */
.navbar-custom .nav-link-custom:hover {
  text-decoration: underline gold 3px;
  opacity: 1;
  color: white;
}

.siginone {
  padding-top: 10px;
  font-size: 18px;
  padding-right: 8px;
  padding-left: 8px;
}

@media (max-width:430px) {
  .siginone {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
}

@media (max-width:775px) {
  .siginone {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
  }

}

.dropdowntoggle {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 400;
  padding-right: 8px;
  padding-left: 13px;
}

/* Offcanvas styles */
.custom-offcanvas .offcanvas-body,
.custom-offcanvas .offcanvas-header {
  background-color: #3c5845;
  color: white;
}

.custom-offcanvas .nav-link-custom {
  color: white;
  opacity: 0.5;
}

.custom-offcanvas .nav-link-custom:hover {
  text-decoration: underline gold 3px;
  opacity: 1;
  color: white;
}

.navbar-custom .nav-link-custom,
.custom-offcanvas .nav-link-custom {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.5;
}

#all {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Header section */
.header-section {
  height: auto;
}

.header-title {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-subtitle {
  font-size: 18px;
  color: grey;
  margin-bottom: 30px;
}

/* Button styles */
#shop {
  background-color: orange;
  color: black;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid orange;
}

#explore {
  background-color: transparent;
  color: white;
  border-radius: 30px;
  padding: 11px 25px;
  border: 2px solid gray;
  margin-left: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width:435px) {
  .header-title {
    margin-top: 20px;
    /* background-color: greenyellow; */
  }
}

@media (max-width: 770px) {
  .header-title {
    font-size: 32px;
  }

  .header-subtitle {
    font-size: 16px;
  }

  .btn-custom,
  .btn-outline-custom {
    width: 40%;
  }
}

@media (max-width: 770px) {
  .d-md-none {
    display: block;
  }

  .d-md-flex {
    display: none !important;
  }
}


/* section2 */

.section2 {
  padding-top: 130px;
}

.craft {
  font-family: "Inter", sans-serif;
  font-size: 37px;
  color: black;
  font-weight: 500;padding-top: 20px;
}

.excellent {
  font-size: 37px;
  color: black;
  font-weight: 500;
}

.donec {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
}

#exploreone {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}

@media (max-width: 768px) {
  .section2one {
    text-align: center;
    margin-bottom: 20px;
  }

  .productcol {
    margin-bottom: 20px;
  }

  .craft,
  .excellent {
    font-size: 1.5rem;
    /* Adjust text size */
  }
}

@media (max-width:780px) {
  .section2 {
    padding-top: 80px;
  }

}
@media (max-width:430px) {
  .section2 {
    padding-top: 60px;
  }

}

.nordic {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.nordic1 {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  text-align: center;
}
.card-img-overlay 
.hover-icon
 {
  font-size: 28px;
  color: black;
}

.card-img-overlay
  {
  font-size: 2rem;
  color: #ffffff; 
  top: 50px;
}


#procard {
  background-color:#f2f4f5;
  height: 420px;
  position: relative;
  position: relative;
  overflow: hidden;
  border: none; 
  border-radius: 10px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
#procard:hover {
  transform: translateY(-20px); 
}

.hover-icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-60%);
  font-size: 24px; 
  color: #000; 
  padding: 8px; 
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.card-img-overlay:hover {
  opacity: 1;
}

/* Show icon on hover */
.productcard:hover .hover-icon {
  opacity: 1; 
  transform: translate(-57%, 42%); 
}



/* // */
  #procard .productcol:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #060808;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
} 


/* /section-three/ */

.why-choose-us-section {
  padding-top: 100px;
  margin-top: 100px;
}

.why-choose-us-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.why-choose-us-section p {
  font-size: 16px;
  margin-bottom: 40px;
}

.features {
  margin-top: 20px;
}

.feature-item {
  margin-bottom: 30px;
  text-align: left;
}

.icon-container {
  background-color: #f0f0f0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 15px;
}

.icon-container i {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  text-align: right;
}

.sofa-image {
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 18%;
  z-index: 1;
  border-radius: 5%;
}

.dots-image {
  position: relative;
  top: -20%;
  right: 1%;
  width: 300px;
  height: auto;
  border-radius: 0%;
}
@media(max-width:1030px) {
  .dots-image {
    display: none;
  }
}
@media (max-width: 775px) {
    .sofa-image {
    position: relative;
    left: 0;
    margin: 0 auto;
  }

  .why-choose-us-section {
    padding-top: 50px;
    margin-top: 50px;
  }

  .why-choose-us-section h2 {
    font-size: 28px;
  }

  .why-choose-us-section p {
    font-size: 14px;
  }

  .features {
    margin-top: 10px;
  }

  .feature-item {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 16px;
  }

  .icon-container {
    width: 40px;
    height: 40px;
  }

  .icon-container i {
    font-size: 20px;
  }
}
