#five{
    background-color:rgba(220,229,228,255);
    border-radius: 50%;
    border: none;
}
#five1{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 50%; */
    width: 120px;
    height: 150px;
    object-fit:contain;

}
#five2{
    font-size: 17px;
    font-weight:  600;
    margin-top: 15px;
    margin-bottom: 5px;
}
#five4{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#five4:hover{
    text-decoration: underline;
}