
/* section2 */
.section21 {
    padding-top: 130px;
  }
  .sectiontwo{
    background-color: #f2f4f5;
  }
  
  .craft1 {
    font-family: "Inter", sans-serif;
    font-size: 37px;
    color: black;
    font-weight: 500;padding-top: 20px;
  }
  
  .excellent1 {
    font-size: 37px;
    color: black;
    font-weight: 500;
  }
  
  .donec1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
  }
  
  #exploreone1 {
    /* width: 42%; */
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
  }
  
  
/* Example of custom CSS to handle small screens */
@media (max-width: 768px) {
    .section2one1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .productcol1 {
      margin-bottom: 20px;
    }
  
    .craft1,
    .excellent1 {
      font-size: 1.5rem;
      /* Adjust text size */
    }
  }
  
@media (max-width:780px) {
    .section21 {
      padding-top: 80px;
      /* border: 2px solid red; */
    }
  
  }
  @media (max-width:430px) {
    .section21 {
      padding-top: 60px;
      /* border: 2px solid red; */
    }
  
  }
  
.nordic1 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-align: center;
  }
  .nordic11 {
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    text-align: center;
  }
  
  .productcol1 {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }
  /* // */
  
.product-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease;
  }
 
  .cardimgoverlay .hovericon {
    font-size: 25px;
    color: black;
  }
  .product-card .cardimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    opacity: 0;
    /* transition: opacity 0.3s ease; */
  }
  
  .product-card:hover .cardimg {
    opacity: 1;  
    transition: .3s all ease;

  }
  
  .cardimg .hovericon {
    font-size: 2rem;
    color: black; /* White color for the '+' icon */
  }
  