
.dropdown-toggle-custom {
  color:white;
  text-decoration: none;
}

.dropdown-menu-custom {
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa; 
  
}
.siguponetwo{
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa; 
}

.nav-link-custom:hover .dropdown-menu-custom {
  display: block;
  width: 260px;
  height: 220px;
  /* border: 1px solid red; */
}
.sigupone:hover .siguponetwo {
  display: block;
  width: 240px;
  height: 280px;
  /* border: 1px solid greenyellow; */
}

.nav-link-custom {
  position: relative;
  
}
.sigupone {
  position: relative;
}

.dropdown-menu-custom {
  position: absolute;
  /* width: 70%; */
  top: 100%;
  left: 0;
  display: none;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
}
.siguponetwo {
  position: absolute;
  /* width: 70%; */
  top: 100%;
  left: 0;
  display: none;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

